<p class="footer_title">- The End -</p>

<svg class="svg_icon" width="100%" height="7" xmlns="http://www.w3.org/2000/svg">
  <rect x="0" y="0" width="100%" height="1" fill="#000" />
  <rect x="0" y="3" width="100%" height="4" fill="#000" />
</svg>

<p class="footer_hint">* 本通讯亦提供邮件订阅，可扫描下面二维码订阅。</p>
<p class="footer_qr">
  <img
    class="qr_pic"
    src="https://mmbiz.qpic.cn/mmbiz_png/0BW5ibaHqngFibIgXAIfuibS8qnyPcg7Bba7GFUebKSTjcYrcbyj1vmASEYcoThSicfG1TXlQ4VrVEe9L6xicfGt0TQ/640?wx_fmt=png"
  />
</p>
