<h2 class="section_title"><span class="number">{{index}}</span>一个可以帮助你快速订阅播客的捷径</h2>
<section class="mod_shorcut">
  <section>
    <p>
      <img
        src="https://mmbiz.qpic.cn/mmbiz_gif/0BW5ibaHqngHbiaTblECTL3Hnpq1cvjD15pq2tbiaXibCbo8Dm3LF26ba30f4eJKB7bibXaVL2l7PCYBVa1oceGsCCQ/640?wx_fmt=gif"
        data-type="gif"
        data-ratio="2.16"
        data-w="400"
        class="pic pic1"
      />
    </p>
    <p class="hint">（点击查看完整使用演示）</p>
  </section>
  <section>
    <p>
      <img
        src="https://mmbiz.qpic.cn/mmbiz_png/0BW5ibaHqngHbiaTblECTL3Hnpq1cvjD15nicicNRNYRu6oB17K68Hnoice9PAHh1crLKNAUj6Jt6vLVATDibKibIiaprA/640?wx_fmt=png"
        data-type="png"
        data-ratio="1"
        data-w="256"
        class="pic pic2"
      />
    </p>
    <p class="hint">（长按识别二维码安装这个捷径）</p>
  </section>
</section>

<section class="mod_shorcut_intro">
  <p class="line line1">
    使用 iPhone 的朋友，可以通过这个「捷径」来快速订阅选中的 RSS 链接。
    不仅如此，这个捷径还可以用来快速在 Safari
    中打开选中的文字链接（在微信公众号中不能直接点击打开的文字链接就靠它了🤗）。
  </p>
  <p class="line line2">
    /* 这个捷径会自动分析选中的内容是 RSS Feed 还是普通链接，RSS Feed
    会提供选择播客应用或RSS阅读器打开，普通链接会用 Safari
    打开，如果选中是文字，会跳转到选定的搜索结果页。 */
  </p>
</section>
