/* * {
  margin: 0;
} */
.content {
  max-width: 600px;
  margin: 20px auto;
}

.topline {
  display: block;
  height: 2px;
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.logo {
  display: block;
  max-width: 100%;
  margin: auto;
  /* background: url(https://mmbiz.qpic.cn/mmbiz_png/0BW5ibaHqngGcSicCAy5YqJmO5FbRmezYKgawRQ6EY0Es7AjBnRhcXqib8gT9XqsszJQS9ml5eicC14yc8ZEiaX3Iuw/640?wx_fmt=png);
  background-size: cover; */
  /* width: 288px;
  height: 56px; */
}

.header {
  padding: 0;
  margin: 28px 0;
}

.subline {
  font-size: 13px;
  overflow: hidden;
  line-height: 30px;
  padding: 0 10px;
  color: #6d6d6d;
  /* background: url("https://mmbiz.qpic.cn/mmbiz_png/0BW5ibaHqngGcSicCAy5YqJmO5FbRmezYKgpia1Pbz9dNYk34j88riakps6CohnV5Ha4HU6ltKicKLl22ibZRFloEaFA/640?wx_fmt=png") 0% 0% / 10px 10px repeat, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); */
  background: repeating-linear-gradient(45deg,
      transparent,
      transparent 4px,
      #e2e2e2 4px,
      #e2e2e2 5px);
  /* background-size: 10px 10px; */
  margin-bottom: 40px;
}

.subline_time {
  float: left;
}

.subline_spent {
  float: right;
}

.feature_clear {
  /* margin-top: 20px; */
}

.section_title {
  display: inline-block;
  line-height: 40px !important;
  font-size: 18px;
  padding: 0 10px 0 0;
  margin: 0 0 30px;
  color: #1acb30;
  background-color: #f6f6f6;
  font-family: PingFangSC-Medium, sans-serif;
}

.number {
  display: inline-block;
  width: 40px;
  text-align: center;
  background-color: #1acb30;
  color: #fff;
  margin-right: 10px;
  vertical-align: top;
}

.pic_line {
  float: right;
  margin-left: 15px;
}

.article_pic {
  width: 90px;
  height: 90px;
  border-radius: 2px;
}

.article_title {
  min-height: 50px;
  margin: 0 0 20px;
  font-size: 26px;
  line-height: 30px;
  color: #404040;
  /* font-family: PingFangSC-Medium, sans-serif; */
  font-family: serif;
  text-align: left;
}

.article_title_cd {
  min-height: 30px;
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 24px;
  color: #404040;
  font-family: PingFangSC-Medium, sans-serif;
  text-align: left;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

.title_link {
  color: #404040;
  text-decoration: none;
}

.article_content {
  text-align: left;
  font-family: Optima-Regular, PingFangSC-light;
  color: #999999;
  margin-bottom: 10px;
  font-size: 18px;
}

.article_content a,
.article_content .article_link {
  color: #1acb30;
  font-size: 14px;
  text-decoration: none;
}

.meta {
  margin-bottom: 5px;
  font-size: 12px;
  color: #1acb30;
  font-family: Optima-Regular, PingFangSC-light;
  text-align: left;
}

.meta+.clear {
  margin-top: 40px;
}

.meta_link {
  color: #1acb30;
  text-decoration: none;
  font-size: 13px;
}

.meta_name {
  padding: 0 5px;
  background-color: #1acb30;
  color: #fff;
  font-size: 16px;
  margin-right: 5px;
}

.meta_desc {
  color: #999999;
  font-size: 14px;
  padding-right: 5px;
}

.peek_item {
  margin-bottom: 15px;
}

.peek_dot {
  float: left;
  margin-top: 7px;
  width: 8px;
  height: 8px;
  background-color: #1acb30;
  flex: 0 0 auto;
}

.peek_title {
  font-size: 18px;
  color: #343434;
  line-height: 22px;
  margin-bottom: 5px;
  font-family: serif;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  line-height: 1.2;
  text-align: left;
  font-family: Optima-Regular, PingFangSC-light;
}

.peek_title_link {
  margin-left: 10px;
  float: left;
}

.peek_title_link .peek_source {
  font-size: 18px;
}

.peek_desc {
  color: #999;
  font-size: 16px;
}

.peek_source_line {
  margin-left: 18px;
  margin-bottom: 15px;
  font-size: 15px;
  text-align: left;
  font-family: Optima-Regular, PingFangSC-light;
}

.peek_source_line .peek_desc {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.peek_source {
  padding-right: 5px;
  font-size: 16px;
  color: #1acb30;
}

.peek_source_link {
  color: #666666;
  font-size: 13px;
}

.side_content {
  color: #666666;
  font-size: 15px;
  line-height: 22px;
  font-family: Optima-Regular, PingFangSC-light;
}

.side_desc {
  margin-top: 15px;
  font-size: 15px;
  color: #999;
  font-family: Optima-Regular, PingFangSC-light;
}

.hl {
  color: #1acb30;
}

.footer {
  margin-top: 40px;
  font-size: 12px;
}

.footer_title {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: serif;
  text-align: center;
}

.bottomline {
  display: block;
  height: 2px;
  border-bottom: 4px solid #000;
  border-top: 1px solid #000;
  margin: 15px 0 60px;
  overflow: hidden;
}

.footer_line {
  color: #999999;
  font-size: 12px;
  margin-bottom: 5px;
}

.footer_link {
  color: #999;
  text-decoration: none;
}

.gap_line {
  height: 4px;
  line-height: 4px;
  margin: 60px 0;
  overflow: hidden;
  min-height: 4px !important;

  background: repeating-linear-gradient(45deg,
      transparent,
      transparent 2px,
      #e2e2e2 2px,
      #e2e2e2 3px);
  color: #6d6d6d;

  /* background: url(https://mmbiz.qpic.cn/mmbiz_png/0BW5ibaHqngGcSicCAy5YqJmO5FbRmezYKgpia1Pbz9dNYk34j88riakps6CohnV5Ha4HU6ltKicKLl22ibZRFloEaFA/640?wx_fmt=png)
          repeat; */
  /* background-size: 10px 10px; */
}

.footer_hint {
  text-align: left;
  font-family: Optima-Regular, PingFangSC-light;
  color: #666;
  margin-bottom: 10px;
  margin-top: 30px;
}

.footer_qr {
  text-align: center;
}

.footer_qr .qr_pic {
  max-width: 100%;
}

.gap_line span {
  color: #fff;
}

.section_sub_title {
  display: block;
  line-height: 40px !important;
  font-size: 16px;
  padding: 0 10px 0 0;
  margin: 0 0 10px;
  color: #1acb30;
  font-weight: bold;
}

.gap_ad_bottom,
.gap_ad_top {
  height: 1px;
  overflow: hidden;
  font-size: 0;
}

.gap_ad_top {
  margin-top: -30px;
}

.gap_ad_bottom {
  margin-bottom: -30px;
}

.mod_shorcut {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mod_shorcut .hint {
  color: #999;
  font-size: 13px;
  text-align: center;
  font-family: Optima-Regular, PingFangSC-light;
  margin-top: 10px;
}

.mod_shorcut .pic {
  display: block;
  margin: auto;
  padding: 0px;
  height: auto;
  width: 55.5px;
}

.mod_shorcut .pic2 {
  width: 120px;
}

.mod_shorcut_intro {
  margin: 0;
  max-height: 6em;
  overflow: auto;
  padding: 0;
}

.mod_shorcut_intro .line {
  color: #343434;
  display: block;
  margin: 15px 0 0;
  text-decoration: none;
  font-family: Optima-Regular, PingFangSC-light;
}

.mod_shorcut_intro .line2 {
  color: #999;
  margin: 5px 0;
}