.content {
  max-width: 600px;
  margin: 20px auto;
}
.qr_pic {
  width: 140px;
  height: 140px;
  display: block;
  margin: auto;
}
.topline {
  display: block;
  height: 2px;
  line-height: 2px !important;
  border-top: 4px solid #404040;
  border-bottom: 1px solid #404040;
  overflow: hidden !important;
  font-size: 0 !important;
}
.logo {
  display: block;
  margin: auto;
  max-width: 100%;
  /* width: 288px;
  height: 56px; */
}
.header {
  padding: 0;
  margin: 28px 0;
}
.subline {
  font-size: 13px;
  overflow: hidden;
  line-height: 30px;
  padding: 0 10px;
  color: #6d6d6d;
  margin-bottom: 60px;
  background: linear-gradient(
    45deg,
    #e2e2e2 1px,
    #fff 0,
    #fff 4px,
    #e2e2e2 0,
    #e2e2e2 5px,
    #fff 0,
    #fff 8px,
    #e2e2e2 0,
    #e2e2e2 9px,
    #fff 0,
    #fff 13px,
    #e2e2e2 0,
    #e2e2e2 14px,
    #fff 0,
    #fff 17px,
    #e2e2e2 0,
    #e2e2e2 18px,
    #fff 0,
    #fff 21px,
    #e2e2e2 0,
    #e2e2e2 22px,
    #fff 0,
    #fff 25px,
    #e2e2e2 0,
    #e2e2e2 26px,
    #fff 0,
    #fff 29px,
    #e2e2e2 0,
    #e2e2e2 30px,
    #fff 0,
    #fff 33px,
    #e2e2e2 0,
    #e2e2e2 34px,
    #fff 0,
    #fff 37px,
    #e2e2e2 0,
    #e2e2e2 38px,
    #fff 0,
    #fff 41px,
    #e2e2e2 0,
    #e2e2e2 42px,
    #fff 0,
    #fff 45px,
    #e2e2e2 0,
    #e2e2e2 46px,
    #fff 0,
    #fff 50px,
    #e2e2e2 0,
    #e2e2e2 51px,
    #fff 0,
    #fff 54px,
    #e2e2e2 0,
    #e2e2e2 55px,
    #fff 0
  );
  background-size: 52px 31px;
}
.subline_time {
  float: left;
}
.subline_spent {
  float: right;
}
.section_title {
  display: inline-block;
  line-height: 40px !important;
  font-size: 18px;
  padding: 0 10px 0 0;
  margin: 0 0 40px;
  color: #1acb30;
  background-color: #f6f6f6;
}
.number {
  display: inline-block;
  width: 40px;
  text-align: center;
  background-color: #1acb30;
  color: #fff;
  margin-right: 10px;
  vertical-align: top;
}
.article {
  margin-bottom: 40px;
}
.article_pic {
  float: right;
  margin-left: 15px;
  width: 90px;
  height: 90px;
  border-radius: 2px;
  background-color: #e2e2e2;
}
.article_title {
  min-height: 50px;
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  color: #404040;
  font-family: serif;
}
.title_link {
  color: #404040;
  text-decoration: none;
}
.article_title_cd {
  min-height: 30px;
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 24px;
  color: #404040;
  font-family: serif;
}
.article_content {
  font-size: 16px;
  color: #999999;
  line-height: 20px;
  margin-bottom: 15px;
}
.article_content a {
  color: #1acb30;
  font-size: 14px;
  text-decoration: none;
}
.meta {
  margin-bottom: 10px;
  font-size: 13px;
  color: #1acb30;
  word-break: break-word;
}
.meta_link {
  color: #1acb30;
  text-decoration: none;
}
.meta_name {
  padding: 0 5px;
  background-color: #1acb30;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.meta_desc {
  color: #999999;
  font-size: 14px;
  padding-right: 5px;
}
.newbie_item,
.roam_item {
  margin-bottom: 15px;
}
.newbie_dot,
.roam_dot {
  float: left;
  font-size: 0 !important;
  margin-top: 7px;
  width: 8px;
  height: 8px;
  line-height: 8px !important;
  background-color: #1acb30;
  overflow: hidden !important;
}
.newbie_title,
.roam_title {
  font-size: 16px;
  color: #343434;
  line-height: 22px;
  margin-bottom: 6px;
  font-family: serif;
  overflow: hidden;
}
.newbie_title_link,
.roam_title_link {
  margin-left: 12px;
  float: left;
  width: 92%;
  color: #343434;
  text-decoration: none;
  font-size: 16px;
}
.newbie_title_link {
  color: #1acb30;
}
.newbie_desc,
.roam_desc {
  color: #999;
  font-size: 14px;
}
.roam_source_line {
  margin-left: 20px;
  line-height: 20px;
  font-size: 14px;
  word-break: break-all;
}
.roam_source {
  color: #1acb30;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}
.faq_link {
  color: #1acb30;
  text-decoration: none;
}
.roam_source_link {
  font-size: 13px;
  color: #999;
  text-decoration: none;
}
.newbie_source_link {
  display: inline-block;
  font-size: 13px;
  color: #999;
  text-decoration: none;
  margin-left: 20px;
  word-break: break-all;
}
.side_content {
  color: #666666;
  font-size: 14px;
  line-height: 22px;
}
.side_content .desc {
  display: block;
  margin-top: 20px;
}
.footer {
  margin-top: 40px;
  font-size: 12px;
}
.footer_title {
  font-size: 18px;
  font-family: serif;
  text-align: center;
}
.bottomline {
  display: block;
  height: 2px;
  border-bottom: 4px solid #404040;
  border-top: 1px solid #404040;
  margin: 15px 0 10px;
  overflow: hidden !important;
  line-height: 2px !important;
  font-size: 0 !important;
}
.footer_line {
  color: #999999;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer_link {
  color: #999;
  text-decoration: none;
}
.gap_line {
  display: block;
  height: 4px;
  line-height: 4px !important;
  margin: 60px 0;
  overflow: hidden !important;
  font-size: 0 !important;
  background: linear-gradient(
    45deg,
    #e2e2e2 1px,
    #fff 0,
    #fff 6px,
    #e2e2e2 0,
    #e2e2e2 7px,
    #fff 0,
    #fff 12px,
    #e2e2e2 0,
    #e2e2e2 13px,
    #fff 0,
    #fff 19px,
    #e2e2e2 0,
    #e2e2e2 20px,
    #fff 0,
    #fff 26px,
    #e2e2e2 0,
    #e2e2e2 27px,
    #fff 0,
    #fff 33px,
    #e2e2e2 0,
    #e2e2e2 34px,
    #fff 0,
    #fff 39px,
    #e2e2e2 0,
    #e2e2e2 40px,
    #fff 0
  );
  background-size: 5px 8px;
}
.pick_pic {
  display: block;
  width: 400px;
  margin: auto;
}
.pick_title_link {
  display: block;
  margin: 15px 0;
  color: #343434;
  text-decoration: none;
}
.news_source_link_pic {
  display: block;
  text-align: center;
  text-decoration: none;
}
.news_source_link_pic img {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
}
.news_pic_desc {
  display: block;
  text-align: center;
  color: #999;
  text-decoration: none;
  font-size: 13px;
}
.article_link {
  /* border-bottom: 2px solid #1acb30; */
  color: #1acb30;
}
